@model List<Message>
@{
    ViewData["Title"] = "Community Posts Redirect";
}
<section class="p-4">
    <h2 class="text-light py-4">List of Messages:</h2>
    @foreach (Message message in Model)
    {
        <div class="overflow-auto">
            <div class="userMessage text-light darkParagraphBackground p-4">
                <h1 class="messageTitle">@message.MessageTitle</h1>
                <p class="pageParagraph"> @message.MessageContent</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Post by @message.UserNameSignature on @message.GetTimePosted</p>
                </div>
            </div>
            <form>
                <fieldset>
                    <input name="chatGenre" value="@Messaging.SelectedGenre" class="form-control" type="hidden">
                    <input name="parentMessageID" value="@message.UnixTimeStamp" class="form-control" type="hidden">
                    <button type="submit" class="btn btn-link text-light" asp-action="ReplyButtonSubmit">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="pt-4 d-flex replyContainer justify-content-right">
            @foreach (Reply r in message.GetReplyHistory)
            {
                <div class="reply p-2 mt-3 mb-3 bg-dark">
                    <p class="pageParagraph">@r.ReplyContent</p>
                    <div class="d-flex flex-row">
                        <p class="digitalSignature">Post by @message.UserNameSignature on @message.GetTimePosted</p>
                    </div>
                </div>
            }
        </div>
    }
    <a asp-controller="Home" asp-action="Home" class="btn btn-light btn-small active" role="button" aria-pressed="true">Go Home</a>
    <a asp-controller="Home" asp-action="Contact" class="btn btn-light btn-small active" role="button" aria-pressed="true">Go Back</a>
</section>


